<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <parameter name="PLATFORM_NAME" value="Android" />
  <parameter name="DEVICE_NAME" value="ce11160b0a68301701" />
  <parameter name="PLATFORM_VERSION" value="7.0" />
  <parameter name="mSSDIN" value="447386013242" />
  <parameter name="MSSDIN" value="447386011969" />
  <parameter name="Server" value="DX_INT" />
  
  
  
  <test thread-count="5" name="Test">
    <classes>
    
    
      <class name="PAYG_Simply.NoAlertsVOV"/> 
    
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->

